RESEND_API_KEY=
RESEND_FROM="Diamantaire Saint-Étienne <contact@obagem.luxe>"
NOTIFY_EMAILS="bbueno@hotmail.fr,contact@obagem.fr,og.diamantaires@gmail.com"
SITE_URL=https://diamantaire-saint-etienne.fr
